@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the Clean Architecture sample application! : )</p>

<p>Please visit one of the following pages:</p>

<ul>
    <li>@Html.ActionLink("Customers", "Index", "customers")</li>
    <li>@Html.ActionLink("Employees", "Index", "employees")</li>
    <li>@Html.ActionLink("Products", "index", "products")</li>
    <li>@Html.ActionLink("Sales", "Index", "sales")</li>
</ul>

